@page "/decks"

@using Blazor.Components.DefaultDialog
@using Blazor.Components.Navigation
@using Blazor.Components.Redirect.RedirectOnClaim
@using Blazor.Components.TCard
@using Blazor.models
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@rendermode InteractiveServer

<PageTitle>Decks</PageTitle>
<RedirectOnClaim ClaimName="Id" RedirectOnFailure="/" />
<div class="page-container">
    <DefaultDialog @ref="addDeckDialog" CloseOnOverlayClick="false">
        <div class="dialog-core-container">
            <div class="dialog-core">
                <div class="dialog-top-container">
                    <div class="dialog-top">
                        <div class="title">
                            <span>Add Decks</span>
                        </div>
                        <div @onclick="CloseAddDeckDialog" class="close-btn">
                            <span>X</span>
                        </div>
                    </div>
                </div>
                <div class="dialog-main">
                    <div class="form-main">
                        <EditForm Model="Model" OnValidSubmit="SubmitNewDeck">
                            <div class="form-container">
                                <DataAnnotationsValidator />

                                <div class="form-element">
                                    <div class="form-input">
                                        <label>Decks Name </label>
                                        <InputText @bind-Value="Model.Name" class="input" />
                                    </div>
                                    <div class="form-input-error">
                                        <ValidationMessage For="@(() => Model.Name)" />
                                    </div>
                                </div>
                                <div class="btn-container">
                                    <button type="submit" class="btn">
                                        <span>Add</span>
                                    </button>
                                </div>
                            </div>

                        </EditForm>
                    </div>
                </div>
            </div>
        </div>

    </DefaultDialog>
    <Navbar />
    <div class="main-container">
        <main>

            <section class="main">
                <div class="tab-bar">
                    <div class="tab-btn @ShowSelected("decks")" @onclick="SelectDeck">
                        <span>Decks</span>
                    </div>
                    <div class="tab-btn @ShowSelected("cards")" @onclick="SelectCards">
                        <span>Cards</span>
                    </div>
                </div>
                <div class="display">
                    @if (SelectedTab == "decks")
                    {
                        <div class="deck-list">

                            @foreach (Deck d in Deck_list)
                            {
                                <div class="deck-item-container @ShowSelectedDeck(d)" @onclick="()=>SelectDeck(d)">
                                    <span>@d.Name</span>
                                </div>
                            }

                            <button @onclick="OpenAddDeckDialog" class="add-deck-btn">
                                Add
                            </button>
                        </div>
                    }
                    else if (SelectedTab == "cards")
                    {
                        <div class="card-list">
                            @foreach (Card c in Card_list)
                            {
                                <div @onclick="(e) => HandleCardClick(e, c)">
                                    <TCard Quantity=GetCardCount(c.Id) CCard="c"></TCard>
                                </div>
                            }
                        </div>
                    }

                </div>

            </section>
            <section class="sidebar-container">
                @if (SelectedDeck is not null)
                {
                    <div class="sidebar">
                        <div class="sidebar-top-container">
                            <div class="sidebar-top">
                                <div class="title">
                                    <span>@SelectedDeck.Name</span>
                                </div>
                                <div class="del-btn">
                                    <span>X</span>
                                </div>

                            </div>
                        </div>

                        <div class="sidebar-cards">
                            @if (SelectedDeckInfo is not null)
                            {
                                @foreach (DeckCard card in SelectedDeckInfo.Cards)
                                {
                                    <div @onclick="()=>SelectCard(card)" class="sidebar-card-container @ShowSelectedCard(card)">
                                        <div class="card-info card-cost">
                                            <span>
                                                @card.Cost
                                            </span>
                                        </div>
                                        <div class="card-info card-name">
                                            @card.Name
                                        </div>
                                        <div class="card-info card-quantity">
                                            <span>
                                                x @card.Quantity
                                            </span>
                                        </div>
                                    </div>
                                }

                            }

                        </div>

                        <div class="sidebar-bottom">
                            <div class="card-counter @MaxedStatus()">
                                <span class="num">@(SelectedDeckInfo?.Count ?? 0)</span>
                                <span>/</span>
                                <span class="num">30</span>
                            </div>
                            <button @onclick="SaveDeck">
                                <span>
                                    Save
                                </span>
                            </button>
                        </div>
                    </div>
                }

            </section>
        </main>

    </div>
</div>
